@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', arial;
}

:root {
    --c-red: rgba(255, 0, 0, 0.4);
    --c-white: rgb(255, 255, 255);
    --c-orange: #B28756;
    --c-blue: #000000;
    --c-gray: #999;
    --c-gray-light: #383838;
    --bg-light-gray: #000000f7;
    --c-border-red: rgba(255, 0, 0, 0);
}

.header {
    height: 100px;
    background-color: var(--c-red);
    position: fixed;
    width: 100vw;
}

.header {
    max-width: auto;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    size:10px
;
}

.logoimg {
    width: 140px;
    height: 60px;
}

footer {
    background-color: #000;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: end;
}

body {
    font-size: 13px;
    overflow-x: hidden;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu nav ul,
.menu nav ul li {
    list-style: none;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li a {
    text-decoration: none;
    color: var(--c-white);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid var(--c-border-red);
}

.menu nav ul li a:hover,
.menu nav ul li .active {
    border-bottom: 5px solid var(--c-white);
    color: rgb(0, 0, 0);
}

.section .section-left .button {
    padding: 13px 46px;
}
